<div id= "banner" class="cover_home2">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Contamos con todo lo necesario para organizar tu <span class="curly">evento</span></h1> <br>
	<p class="">Encuentra a los mejores proveedores para eventos en Guatemala</p>
		</div>
	</div>
</div>