<div id="coups">
	<% @providers0.each do |provider| %>
	<div class="col-xs-4 col-md-2">
		<div id="prov">
			<%= link_to provider do %>
			<%= image_tag provider.icon.url %>
			<h3><%= provider.nombre %></h3>
			<p><%= provider.productos.truncate(20)%></p>
			<% end %>
		</div>
	</div>
	<% end %>
</div>