<div id= "banner" class="cover_brides">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Brides & Dreams</h1> <br>
		</div>
	</div>
</div>


	<div class="container">
		<div id="magic">
		 <div class="row">
			<!-- col6 -->
			<div class="col-md-6">
				<div id="izq1">
					<h2>Brides & Dreams</h2>
					<p>Vestidos de novias, xv años y graduaciones</p>
					<h6><span class="fa fa-calendar"></span> Citas: 15 días de antes del evento</h6>
					<h6><span class="fa fa-phone"></span><a href="+51987847757"> Teléfono: (+51) 987847757</a></h6>

					<%= link_to "Más información", root_path, class: "button button_purple" %>
				</div>
			</div>
			<!-- col6 -->
			<div class="col-md-6">
				<div id="dre">
					
					</div>
				</div>
			</div>
		</div>

		<div id="magic">
		<div class="row">			
			<div class="col-md-6">
								<div id="izq2">
					<h3>Información General:</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, molestiae saepe harum aspernatur cupiditate magnam blanditiis commodi, ducimus reiciendis consequuntur. Qui ipsam quos recusandae corporis, rerum beatae doloribus. Laboriosam, aut?</p>

					<h3>Servicios Ofrecidos:</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus corrupti, nostrum non, dolorum atque facere quo deserunt et dolor vitae nemo quia laboriosam dolores, fuga tempora ab rerum cupiditate minus.</p>

					<h3>Detalles de Servicio a Domicilio:</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis suscipit pariatur in dignissimos architecto aut ex, nesciunt vitae nam accusantium iusto, similique ad amet asperiores maiores nisi dicta eligendi.</p>
				</div>
			</div>
			<div class="col-md-6">
			
			</div>	
			</div>
		</div>
	</div>